    .contenedor {
      display: flex;
      gap: 20px;
      margin-top: 50px;
      justify-content: center;
    }

    .caja {
      width: 200px;
      height: 200px;
      padding: 20px;
      border: 5px solid #55c57a;
      background-color: #7ed56f;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .sin-border-box {
      box-sizing: content-box;
    }

    .con-border-box {
      box-sizing: border-box;
    }
